@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBg: hsl(275, 100%, 97%);
$cardBg: hsl(0, 0%, 100%);
$boldColor: hsl(292, 42%, 14%);
$textColor: hsl(292, 16%, 49%);

body {
  background: url(../images/background-pattern-desktop.svg) no-repeat fixed,
    $mainBg;
  background-size: contain;
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
}

main {
  width: min(87%, 600px);
  margin: 10.5rem 0;
  padding: 2.475rem 2.5rem 0rem;
  border-radius: 1rem;
  background: $cardBg;
  box-shadow: 0 30px 40px 6px hsla(292, 16%, 49%, 0.15);
  position: relative;
  left: 50%;
  transform: translate(-50%);

  .header {
    color: $boldColor;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    h1 {
      font-size: clamp(2rem, 4vw, 3.5rem);
    }
  }

  .faqs-list {
    padding: 0.6rem 0 1rem;

    .accordion {
      display: grid;
      grid-template-rows: 0fr;
      padding: 1.455rem 0;
      $borderColor: $mainBg;
      border-bottom: 2px solid $borderColor;

      &:first-child {
        .accordion-header {
          padding-top: 0;
        }
      }

      &:last-child {
        border-bottom: none;

        .accordion-header {
          padding-bottom: 0;
        }
      }

      &.active .answer {
        display: block;
      }

      .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .question {
          padding-right: 1.75rem;
          font-size: clamp(1rem, 4vw, 1.125rem);
          color: $boldColor;
          font-weight: 600;

          &:hover {
            color: #ad28eb;
          }
        }

        .minus-icon,
        .plus-icon {
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .answer {
        padding-top: 1.4rem;
        display: none;
        color: $textColor;
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 375px) {
  body {
    background: url(../images/background-pattern-mobile.svg) no-repeat fixed,
    $mainBg;
    background-size: contain;
  }

  main {
    margin: 8.95rem 0;
    padding: 1.5rem 1.475rem;
    border-radius: 0.5rem;

    .header {
      img {
        width: 24px;
      }
    }

    .faqs-list {
      padding: 0.3rem 0 0.05rem;

      .accordion {
        padding: 1.2rem 0;

        &:last-child {
          padding-bottom: 0;
        }

        .answer {
          padding-top: 1.5rem;
          font-size: 0.875rem;
        }
      }
    }
  }
}
